<div class="mt-4 user-settings container-fluid">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="mod-lib">Custom Modification Library:</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" aria-label="mod-lib" aria-describedby="mod-lib" (change)="loadSettings($event, 'mod-lib')" required>
        <label class="custom-file-label" for="mod-lib">{{FileName.mod||'Select File'}}</label>
      </div>
    </div>
    <div class="text-muted">
      <small>
        <ul>
          Input must be a tabulated file containing columns with these name:
          <li>
            'Ytype' for Ytype modification,
          </li>
          <li>
            'type' for type of the modification,
          </li>
          <li>
            'mass' for mass of the modification,
          </li>
          <li>
            'regex' for regular expression of the modification,
          </li>
          <li>
            'label' for label of the modification,
          </li>
          <li>
            'm_label' for final label of the modification if it is a static modification on the generated sequence
          </li>
        </ul>
      </small>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="swath-win">Custom SWATH Windows Range:</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" aria-label="swath-win" aria-describedby="swath-win" (change)="loadSettings($event, 'swath-win')" required>
        <label class="custom-file-label" for="swath-win">{{FileName.windows||'Select File'}}</label>
      </div>
    </div>
    <div class="text-muted">
      <small>
        Input must be a tabulated file where the first column is the starting mz value of the window and the second column is the ending mz value of the window
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="user-rt">Customized Retention Time</label>
    <div>
      <textarea id="user-rt" class="form-control" rows="10" [(ngModel)]="userRT"></textarea>
    </div>
    <div class="mt-2">
      <button class="btn btn-secondary" (click)="submitManualRT()">Submit RT</button>
    </div>
    <div class="text-muted">
      <small>
        Each RT must be separated by newline.
      </small>
    </div>
  </div>
</div>
