/deep/ g.aa {
  rect {
    fill: white;
    stroke: black;
    &.Ytype {
      fill: green;
    }
    &.conflicted {
      fill: red;
    }
    &.variable {
      fill: blue;
    }
    &.static {
      fill: yellow;
    }
  }

}

/deep/ text.aaId {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: black;
  text-anchor: middle;
  vertical-align: middle;
  alignment-baseline: central;
  &.Ytype {
    fill: white;
  }
  &.conflicted {
    fill: white;
  }
  &.variable {
    fill: white;
  }
}

/deep/ g.top-axis {
  & path {
    opacity: 0
  }
}

/deep/ g.left-axis {
  & path {
    opacity: 0
  }
}

/deep/ .hidden {
  display: none
}

/deep/ .show-bg .annotation-note-bg {
  fill: fuchsia;
  // fill-opacity: 0.05;
  fill-opacity: 0.05;
}
/*/deep/ g.annotation-note {
  font-size: 8pt;
}*/
